<!--
  Generated template for the TimerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Timer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label>Preset</ion-label>
        <ion-select [(ngModel)]="selectedPreset">
          <ion-option *ngFor="let preset of presets" [value]="preset" (ionSelect)='onPresetSelected(preset)'>{{preset.text}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-card *ngIf='selectedPreset!=null'>
        <ion-card-title>{{selectedPreset.text}}</ion-card-title>
      </ion-card>
      <ion-card *ngIf='selectedPreset==null'>
        <ion-card-content>
          <p>You need to select a preset first</p>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row justify-content-center align-items-center style="height: 100%">
      <semaphore [color]="color"></semaphore>
    </ion-row>
  </ion-grid>

  <k-timer-control [(timeouts)]='timerTimeouts' [disabled]='isStartButtonDisabled()' counter="0" (onTimeout)='onTimerTimeOut($event)'
    (onReset)='onTimerReset($event)'></k-timer-control>

</ion-content>